.browserNotSupported {
  display: none;
  &.active {
    display: block;
    background: #0a0a0a;
    color: #00d4ddb3;
    font-size: 1.5rem;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    padding: 2rem;
    z-index: 4;
    overflow: auto;

    @include media-breakpoint-up(lg) {
      padding: 6rem;
    }

    h1 {
      color: $light;
    }
  }
}

.email-address {
  word-wrap: break-word;
}

.bf-title {
  background-blend-mode: normal;
  z-index: 0;
  &.home {
    z-index: 1;
  }
}

.bf-portfolio {
  z-index: 0;
}

.back-btn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.portfolio-container {
  a {
    border-radius: 0;
    height: calc(50vh - 8vh);
    margin-bottom: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid $white;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      position: relative;
      top: 0;
      left: 0;
      display: inline-block;
    }

    &:hover {
      &:before {
        animation: fadeUp 1s forwards;
      }
    }

    @keyframes fadeUp {
      from {
        background: rgba(0, 0, 0, 0.4);
      }
      to {
        background: rgba(0, 0, 0, 0);
      }
    }

    .card-body {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
    }
  }
}
