@mixin button-gradient-variant($leftcolor, $rightcolor) {
  color: white;

  background-size: 200% auto;
  transition: 0.5s;

  background-color: $leftcolor;
  background-image: linear-gradient(
    to right,
    $leftcolor 0%,
    $rightcolor 51%,
    $leftcolor 100%
  );

  @include hover {
    background-position: right center;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: 0.5;
    @include hover {
      background-position: left center;
    }
  }
}

@mixin text-gradient-variant($color1, $color2) {
  color: mix($color1, $color2);
  background: -webkit-linear-gradient(148deg, $color1, $color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
