.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40000;

  .modal-inner {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 75%;
    overflow: auto;
    position: relative;
    background: none;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  .box {
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
    background-color: #0b2534;

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
  }
}
